<div class="d-flex m-5 justify-content-center">
  <a
    class="dropdown-toggle btn btn-outline-secondary"
    style="width: 40%"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >類別</a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">全部</a></li>
    <li><a class="dropdown-item" href="/search?category=家居物業">家居物業</a></li>
    <li><a class="dropdown-item" href="/search?category=交通出行">交通出行</a></li>
    <li><a class="dropdown-item" href="/search?category=休閒娛樂">休閒娛樂</a></li>
    <li><a class="dropdown-item" href="/search?category=餐飲食品">餐飲食品</a></li>
    <li><a class="dropdown-item" href="/search?category=其他">其他</a></li>
  </ul>
</div>
<div class="container text-center mb-5">
  <a href="/records/new" class="btn btn-warning">新增支出</a>
</div>
<div class="d-flex m-5 justify-content-center">
  <h2>總花費：</h2><h1 class="mx-5">${{sum}}</h1>
</div>
<div class="d-flex m-5 justify-content-center">
  <ul class="list-group">
    {{#each records}}
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="mx-5 justify-content-center">
            <h4> {{this.name}}</h4>
            <p class="mb-0">{{this.date}}</p>
          </div>
          <div class="d-flex flex-grow-1 justify-content-center align-items-center mx-3">
            <h5> ${{this.amount}}</h5>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a
              href="./records/{{this._id}}/edit"
              class="btn btn-outline-primary justify-content-center align-items-center mx-2"
            >edit</a>
            <form action="./records/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger mt-3">delete</button>
            </form>
          </div>

        </div>
      </li>

    {{/each}}
  </ul>
</div>